.idea/
build/
rpack/_core.c
dist/
.eggs/
*.html
*.egg-info/
*.pdf
*.bat
*.so
*.png
*.gif
*.svg
*.pdf
test/*.png
test/*.txt
test/c_tests
py3*/
venv*/
**/__pycache__
/sandbox.py
_build/
artifacts/
mprofile_*.dat